<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozeken.messageapp.mapper.MessageMapper">

    <!--すべてのメッセージを取得-->
    <select id="getAllMessages" resultType="com.ozeken.messageapp.entity.Message">
        SELECT 
        message_id AS messageId,
        content,
        created_at AS createdAt
        FROM message
        ORDER BY message_id
    </select>
    
    <!--IDでメッセージを取得-->
    <select id="getMessage" resultType="com.ozeken.messageapp.entity.Message" parameterType="long">
        SELECT
        message_id AS messageId,
        content,
        created_at AS createdAt
        FROM message
        WHERE message_id=#{messageId}
    </select>
    
    <!-- メッセージ新規作成 -->
     <insert id="insertMessage"
        parameterType="com.ozeken.messageapp.entity.Message"
        useGeneratedKeys="true"
        keyProperty="messageId">
        INSERT INTO message (content, created_at)
        VALUES (#{message.content}, #{message.createdAt})
    </insert>
</mapper>