<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メッセージフォーム</title>
    <!--リセットcss-->
    <link rel="stylesheet" href="/css/ress.min.css">
    <!--フォームのcss-->
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <h1>メッセージ送信フォーム</h1>

    <!-- メッセージ送信フォーム -->
    <form th:action="@{/message/send}" th:object="${messageForm}" method="post">
        <label for="content">メッセージを入力</label><br>
        <textarea th:field="*{content}" placeholder="メッセージを入力してください"></textarea>

        <!-- バリデーションエラー表示 -->
        <div th:if="${#fields.hasErrors('content')}" class="error-fixed">
            <p th:errors="*{content}">メッセージエラー</p>
        </div>

        <br>
        <button type="submit">送信</button>
    </form>

    <!-- フラッシュ属性からの成功メッセージ表示-->
    <div th:if="${messageId != null}" class="fixed-success">
        <p><strong>送信完了！</strong></p>
        <p th:text="|ID: ${messageId} / 内容: ${message} / 時刻: ${#dates.format(createdAt, 'yyyy/MM/dd HH:mm:ss')}|"></p>
    </div>
</body>
</html>
